<div class="card">
    <p-tabView [scrollable]="true" (onChange)="onTabChange($event)">

        <p-tabPanel header="Productos en Inventario">
            <ng-template pTemplate="content">
                <ng-container *ngIf="activeIndex === 0">
                    <app-productos-inventario></app-productos-inventario>
                </ng-container>
            </ng-template>
        </p-tabPanel>
    
        <p-tabPanel header="Productos">
            <ng-template pTemplate="content">
                <ng-container *ngIf="activeIndex === 1">
                    <app-productos></app-productos>
                </ng-container>
            </ng-template>
        </p-tabPanel>
    
    </p-tabView>
</div>
